<a href="https://colab.research.google.com/github/ddelrio95/Cars/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Car Example

In [20]:
class Cars:
  def __init__(self, brand, model, color, year):
    self.brand = brand
    self.model = model
    self.color = color
    self.year = year

    #Extract color, year
    name_pieces = color.split(" ")
    self.color = name_pieces[0]
    self.year = year[-1]

In [21]:
car1 = Cars("Honda", "Accord", "brown", "2014")
car2 = Cars("BMW", "m3", "black", "2017")
car3 = Cars("Audi", "s4", "white", "2019")

In [22]:
  print(car1.brand, car1.model, car1.color, car1.year)
  print(car2.brand, car2.model, car2.color, car2.year)
  print(car3.brand, car3.model, car3.color, car3.year)

Honda Accord brown 4
BMW m3 black 7
Audi s4 white 9

PC example

In [30]:
class Pc:
  def __init__(self, model, year, storage):
    self.model = model
    self.year = year
    self.storage = storage

In [ ]:
def myfunct(self):
  print("The model selected is " + self.model)

In [24]:
pc1 = Pc("Mac", "2019", "256gb")
pc2 = Pc("Windows", "2017", "1000gb")

In [ ]:
print(pc1.model)
print(pc1.storage)
print(pc1.year)

print(pc2.model)
print(pc2.storage)
print(pc2.year)

In [3]:
class Person:
  pass

In [7]:
def myfuntion(fname, lname):
  print(fname + " " + lname)

myfuntion("Dario", "del Rio")

Dario del Rio

In [ ]:
def other_function(*kids):
  print("The youngest child is " + kids[5])

other_function("Emil", "Tobias", "Ana", "Max", "Alex", "Mark", "Dario", "Pedro")

In [2]:
#BMI calculator
name1 = "YK"
height_m1 = 2
weight_kg1 = 90

name2 = "YK's sister"
height_m2 = 1.8
weight_kg2 = 70

name3 = "YK's brother"
height_m3 = 2.5
weight_kg3 = 160

In [3]:
def bmi_calculator(name, height_m, weight_kg):
  bmi = weight_kg / (height_m ** 2)
  print("bmi: ")
  print(bmi)
  if bmi < 25:
    return name + "is not overweight"
  else:
      return name + "is overweight"

In [ ]:
result1 = bmi_calculator(name1, height_m1, weight_kg1)
result2 = bmi_calculator(name2, height_m2, weight_kg2)
result3 = bmi_calculator(name3, height_m3, weight_kg3)

In [ ]:
print(result1)
print(result2)
print(result3)

In [ ]:
def funct1(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

funct1(fruits)

In [ ]:
def funct2(x):
  return 5 * x
  
print(funct2(2))

In [4]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursioon Example Results")
tri_recursion(6)

Recursioon Example Results
1
3
6
10
15
21

21